{ deps
, [ {hope  , ".*", {git, "https://github.com/ibnfirnas/hope.git", {branch, "master"}}}
  , {bstr  , ".*", {git, "https://github.com/jcomellas/bstr.git", {tag   , "v0.2.0"}}}
  , {cowlib, ".*", {git, "https://github.com/extend/cowlib.git" , {tag   , "0.6.2"}}}
  , {jsx   , ".*", {git, "git://github.com/talentdeficit/jsx.git",{tag   , "v2.0.2"}}}
  ]
}.
